@import "../../styles/settings.scss";

.identification-form {
  width: 400px;
  height: 500px;
  border: 1px black solid;
  border-radius: 10px;
  background: $primary-color;
  transform: translateY(20%);
  overflow: hidden;
}
