@import "../styles/settings.scss";

#root {
    @include flex-center();
    flex-direction: column;
}
// Temporaire il faudra supprimer quand on aura implémenté le scroll infini
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    max-width: 700px;
    height: 500px;
    background: lighten($secondary-color, 55%);
    padding: 10px;
    color: $black;
    border-radius: 5px;
    border: solid 1px $black;
    .publication__title {
        text-transform: none;
        padding: 15px 0;
    }
}