@import "../styles/settings.scss";

#root {
    @include flex-center();
    flex-direction: column;
}

// Il faudra supprimer le height de 500px quand nous aurons implémenté le scroll infini

.container {
    @include flex-center();
    align-items: flex-start;
    width: 70%;
    max-width: 700px;
    height: 500px; 
    background: lighten($secondary-color, 55%);
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $black;
}