@import "../../styles/settings.scss";

header {
  background: white;
  width: 100% !important;
  margin-bottom: 80px;
  height: 80px;
  @include flex-center;
  & a {
    height: 100%;
    & > img {
      height: 100%;
    }
  }
}
